<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/hash" enctype="multipart/form-data" method="post">
        <input type="file" name="f" size="">
        <p><input type="submit" value="Отправить"></p>
        <p><p>hash {{ hash }} </p>
    </form>
</body>
</html>